.content{
display: flex;
align-items: center;
justify-content: center;

}

.backgroud-banner-one{
background-color: red;
}
.backgroud-banner-two{
background-color: orange;
}

.backgroud-banner-three{
    background-color: green;
}


