<div class="footer-container">
    <div class="footer_contact">
      <a href="https://wa.me/3138055580?texto=Quisiera%20consultar%20sobre%20la%20sus%20de%20servicios`" target="_blank"><img class="footer_img" src="/assets/WhatsAppLogo.png" alt="Logo de whatsapp"></a>  
    </div>

    <div class="footer_social">
        
        <a href="https://www.facebook.com/Impulsa-Marketing-Digital-109892343724007/" target="_blank"><i class="fab fa-facebook-square" id="facebook_logo"></i></a>
        <a href="https://www.instagram.com/impulsamarketingcol/" target="_blank"><i class="fab fa-instagram" id="instagram_logo"></i></a>
        <a href="https://twitter.com/LookSocialMedia" target="_blank"><i class="fab fa-twitter-square" id="twitter_logo"></i></a> 
    </div>

</div>
