<div class="header-container">
    
    <div class="header_logo">
        <img class="header_img" src="/assets/logo.jpg" alt="logo de IMD" title="Impulsa Marketing Digital">
    </div>

    <div class="header_menu">
        <nav class="header_navegation">
            <ul class="header_unordered">
                <li routerLink="home" routerLinkActive="active" class="header_list">inicio</li>
                <li routerLink="/about" routerLinkActive="active" class="header_list">somos</li>
                <li routerLink="/products" routerLinkActive="active" class="header_list">servicios</li>
                <li routerLink="/contacts" routerLinkActive="active" class="header_list">contactos</li>
            </ul>
        </nav>
    </div>
</div>
