.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 1rem auto;
    border: .1rem solid #222;
    padding: 2rem;
    .header_logo{
        margin-left: 2rem;
    }
    .header_unordered{
        display: flex;
    }
    .header_list{
        margin-left: 1rem;
        list-style: none;
        font-size: 1.8rem;
        border: .1rem solid #222;
        box-shadow: .2rem .2rem;
    }
}
