<div class="header-container">
    
    <div class="header_logo">
        <img class="header_img" src="/assets/logo.jpg" alt="logo de IMD">
    </div>

    <div class="header_menu">
        <nav class="header_navegation">
            <ul class="header_unordered">
                <li class="header_list">INICIO</li>
                <li class="header_list">QUIENES SOMOS</li>
                <li class="header_list">SERVICIOS</li>
                <li class="header_list">CONTACTO</li>
            </ul>
        </nav>
    </div>
</div>
