<div class="contacts-container">
   <div class="contacts_contacts">
    <p class="contacts_title">
        Contactanos
        
    </p>
    <i class="fas fa-phone" id="phone"></i>
    <i class="fas fa-envelope-open" id="phone"></i>
    <i class="fas fa-id-card" id="phone"></i>
        
   </div>

   <div class="contacts_dates">
    <p class="contacts_title2">dejanos tus datos</p>
    <form (ngSubmit)='loginUser()' [formGroup]='loginForm' class="contact_form">
        <input formControlName='name' class="contacts_input" type="text" placeholder="Nombre" required>
        <input formControlName='phone' class="contacts_input-phone" type="text" placeholder="Telefono" required>
        <input formControlName='email' class="contacts_input-email" type="email" placeholder="Correo" required>
        <input formControlName='address' class="contacts_input-address" type="text" placeholder="Direccion" required><br>
        <input [disabled]='loginForm.invalid' class="contacts_button" type="submit" value="Enviar">

    </form>
   
   </div>
   
</div>
