
<div class="about-container">
    <div class="about_movie">
    
        <iframe class="about_video" width="560" height="315" src="https://www.youtube.com/embed/alGGx_QnoBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           
        
    </div>

    <div class="about_cover">
        <img class="about_image" src="/assets/about.jfif" alt="IMD-logo">
        <p class="about_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolore id praesentium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolore id praesentium</p>
    </div>
</div>